BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:3000
TEST_USER_EMAIL=user@example.com
TEST_USER_PASSWORD=change-me
API_TOKEN=change-me
X_ACCESS_KEY=change-me
ANALYTICS_BASIC_USER=QA_USER
ANALYTICS_BASIC_PASSWORD=change-me
LOG_LEVEL=CRITICAL
